<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back-end G-Sneaker</title>
</head>
<body>
    <h1>This is back-end of G-Sneaker</h1>
</body>
</html>